/* GENERAL VARIABLES */
@import 'https://fonts.googleapis.com/css?family=Lato';
$text-font: 'Lato';
$text-font-fallback: sans-serif;
$title-size: 20px;

/* COLORS */
$color-background: pink;
$color-bigicon: #36A0FF;
$color-gray: lightgray;
$color-title: pink;
$color-white: #FFFFFF;

/* FONT SIZES */
$font-size-header: 27px;
$font-size-bigicon: 35px;